## IDEs
/nbproject
/.idea
/.vscode

## Vendors
/vendor
/node_modules

## Temp dirs & trash
/temp
/tmp
coverage*
.DS_Store
*.cache

## Credentials
auth.json
.env
.env.backup
.env.production

## etc.
/storage/*.key
/public/hot
/public/storage
/public/build
/.fleet
docker-compose.override.yml
npm-debug.log
yarn-error.log
